extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- project title
        h1= projectInfo.project_name

        //- project description
        p.lead.text-light
          | #{projectInfo.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- add the technologies used in each project
        ul
          each item in projectInfo.technologies
            li #{item}

        //- add URLs to the hrefs. link to the repo and the live version of each project.
        a.button.expanded(href=`${projectInfo.live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${projectInfo.github_link}` target="_blank") GitHub Repo
    
    //- dynamically add three project images.
    img.image(src=`${projectInfo.image_urls[0]}`)
    img.image(src=`${projectInfo.image_urls[1]}`)
    img.image(src=`${projectInfo.image_urls[2]}`)