extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- interpolation used to dynamically add the project title.
        h1 #{projectInfo.project_name}

        //- interpolation used to dynamically add the project description.
        p.lead.text-light
          | #{projectInfo.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- `each` iterator used to replace the li tags below with interpolation to dynamically add the technologies used in each project.
        ul
          each item in projectInfo.technologies
            li #{item}

        //- template literals and interpolation used to add URLs to the hrefs below so they link to the repo and the live version of each project. Will open in new window
        a.button.expanded(href=`${projectInfo.live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${projectInfo.github_link}` target="_blank") GitHub Repo
    
    //- template literals and interpolation used to dynamically add three project images 
    img.image(src=`${projectInfo.image_urls[0]}`)
    img.image(src=`${projectInfo.image_urls[1]}`)
    img.image(src=`${projectInfo.image_urls[2]}`)